NEXT_PUBLIC_API_URL=https://spin-booking-spinbooking-api.iwyset.easypanel.host
# NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_PWA_DISABLED=false

# Database
# DATABASE_URL="postgres://postgres:123456@ep39.bstr.com.ar:5432/spinbooking?sslmode=disable"
DATABASE_URL="postgres://postgres:123456@localhost:5432/spinbooking?sslmode=disable"